<div class="marcador-container">
  <div class="marcador-header">Marcador</div>
  <div class="marcador-tabla">
    <div class="marcador-fila encabezado">
      <div>Equipo</div>
      <div>1C</div>
      <div>2C</div>
      <div>3C</div>
      <div>4C</div>
      <div>OT</div>
      <div>Resul.</div>
    </div>
    <div class="marcador-fila">
      <div>Warlocks</div>
      <div class="punto">{{C1}}</div>
      <div class="punto">{{C2}}</div>
      <div class="punto">{{C3}}</div>
      <div class="punto">{{C4}}</div>
      <div class="punto">{{OT}}</div>
      <div class="resultado">{{total}}</div>
    </div>
  </div>
</div>