<div class="marcador-container">
  <div class="marcador-header">Marcador</div>
  <div class="marcador-tabla">
    <div class="marcador-fila encabezado">
      <div>Equipo</div>
      <div>1C</div>
      <div>2C</div>
      <div>3C</div>
      <div>4C</div>
      <div>OT</div>
      <div>Resul.</div>
    </div>
    <div class="marcador-fila">
      <div>Warlocks</div>
      <div class="punto">26</div>
      <div class="punto">34</div>
      <div class="punto">28</div>
      <div class="punto">35</div>
      <div class="punto">--</div>
      <div class="resultado">123</div>
    </div>
  </div>
</div>