<div class="container">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Editar {{rol}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form #form="ngForm" (ngSubmit)="guardarCambios(form)">

        <ion-item class="rut">
          <ion-label position="floating">RUT</ion-label>
          <ion-input [(ngModel)]="usuario.rut" name="rut" readonly>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Primer Nombre</ion-label>
          <ion-input [(ngModel)]="usuario.pnombre" name="pnombre" required>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Segundo Nombre</ion-label>
          <ion-input [(ngModel)]="usuario.snombre" name="snombre">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Apellido Paterno</ion-label>
          <ion-input [(ngModel)]="usuario.appaterno" name="appaterno">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Apellido Materno</ion-label>
          <ion-input [(ngModel)]="usuario.apmaterno" name="apmaterno">
          </ion-input>
        </ion-item>

        <ion-item *ngIf="rol === 'jugador'">
          <ion-label position="floating">Posición</ion-label>
          <ion-select [(ngModel)]="usuario.posicion" name="posicion" interface="popover" required>
            <ion-select-option value="Base">Base</ion-select-option>
            <ion-select-option value="Escolta">Escolta</ion-select-option>
            <ion-select-option value="Alero">Alero</ion-select-option>
            <ion-select-option value="Ala-Pívot">Ala-Pívot</ion-select-option>
            <ion-select-option value="Pívot">Pívot</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="rol === 'jugador'">
          <ion-label position="floating">Categoría</ion-label>
          <ion-select [(ngModel)]="usuario.categoria" name="categoria" interface="popover" required>
            <ion-select-option value="U11">U11</ion-select-option>
            <ion-select-option value="U13">U13</ion-select-option>
            <ion-select-option value="U15">U15</ion-select-option>
            <ion-select-option value="U18">U18</ion-select-option>
          </ion-select>
        </ion-item>

        <div class="form-buttons">
          <ion-button class="cancelar" expand="block" fill="clear" type="button" (click)="onCancel()">
            Cancelar
          </ion-button>
          <ion-button class="guardar" expand="block" type="submit" [disabled]="form.invalid">
            Guardar Cambios
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</div>