ion-header {
  ion-toolbar {
    background-color: #f8f9fa;
    --ion-color-primary: #222;
    ion-title {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

ion-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  ion-card {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }

  ion-item {
    --background: #fff;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  ion-label {
    color: #555;
    font-weight: 500;
  }

  ion-input {
    --padding-start: 10px;
  }

  ion-button {
    margin-top: 15px;
    width: 100%;
    max-width: 500px;
    font-weight: bold;

    &.ion-color-primary {
      --background: #3880ff;
    }

    &:last-child {
      margin-bottom: 30px;
    }
  }
}
