<div class="tabla-container" *ngIf="estadistica | keyvalue as partidos">
  <!-- Columna fija -->
  <div class="columna-fija">
    <div class="celda encabezado">Últimos partidos</div>

    <div *ngFor="let partido of partidos" class="jugador">
      <div>
        <div>{{ partido.value.info.contrincante }}</div>
        <small>{{ partido.value.info.fecha | date:'shortDate' }} - {{ partido.value.info.hora.toString().substring(0,5)
          }}</small>
      </div>
    </div>
  </div>

  <!-- Datos con scroll lateral -->
  <div class="datos-scroll">
    <div class="fila encabezado">
      <div>Min</div>
      <div>Pts</div>
      <div>Reb</div>
      <div>Ast</div>
      <div>Rob</div>
      <div>Blq</div>
      <div>Per</div>
      <div>T</div>
      <div>3P</div>
      <div>TL</div>
      <div>Fal</div>
    </div>

    <div *ngFor="let partido of partidos" class="fila">
      <div>{{ partido.value.est.tiempo_juego[0]!.minutos!.toString().substring(3) || 0 }}</div>
      <div>{{ partido.value.est.lanzamientos.length }}</div>
      <div>{{ partido.value.est.rebotes.ofensivos.length + partido.value.est.rebotes.defensivos.length }}</div>
      <div>{{ partido.value.est.asistencias.length }}</div>
      <div>{{ partido.value.est.robos.length }}</div>
      <div>{{ partido.value.est.bloqueos.length }}</div>
      <div>{{ calcularPerdidas(partido.value.est.lanzamientos,partido.value.est.faltas)}}</div>
      <div>{{ calcularTotales(partido.value.est.lanzamientos, "doble") }}</div>
      <div>{{ calcularTotales(partido.value.est.lanzamientos, "triple") }}</div>
      <div>{{ calcularTotales(partido.value.est.lanzamientos, "libre") }}</div>
      <div>{{ partido.value.est.faltas.length }}</div>
    </div>
  </div>
</div>