<ion-content>

  <app-banner-top [tabs]="tabs" [activeTab]="activeTab" (tabChanged)="activeTab = $event"
    (volverAInicio)="volverAInicio()" (categorySelected)="filtrarMiembrosPorCategoria($event)"></app-banner-top>

  <div *ngIf="activeTab === 'Mi cuenta' && usuario">
    <app-card-datos [usuario]="usuario"></app-card-datos>
    <app-card-campass></app-card-campass>
    <div class="container-Cerrar">
      <ion-button class="btn-Cerrarsesion" (click)="cerrarSesion()">Cerrar sesión</ion-button>
    </div>
  </div>


  <!-- Componente de Crear Usuario -->
  <div *ngIf="activeTab == 'Usuarios'">

    <app-card-crearuser *ngIf="modalAbierto" [rol]="rolSeleccionado" (cancel)="cerrarModal()"
      (submit)="agregarUsuario($event)">
    </app-card-crearuser>

    <!-- Tablas para cada tipo de usuario -->
    <app-table-miembros-config [rol]="'entrenador'" [usuarios]="entrenadoresFiltrados" (editar)="editarUsuario($event)"
      (eliminar)="eliminarUsuario($event)" (crear)="abrirModalCrear('entrenador')">
    </app-table-miembros-config>

    <app-table-miembros-config [rol]="'estadistico'" [usuarios]="estadisticosFiltrados" (editar)="editarUsuario($event)"
      (eliminar)="eliminarUsuario($event)" (crear)="abrirModalCrear('estadistico')">
    </app-table-miembros-config>

    <app-table-miembros-config [rol]="'jugador'" [usuarios]="jugadoresFiltrados" (editar)="editarUsuario($event)"
      (eliminar)="eliminarUsuario($event)" (crear)="abrirModalCrear('jugador')">
    </app-table-miembros-config>
  </div>
</ion-content>