<div class="container">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{rol}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row *ngFor="let usuario of usuariosSlice(); let last = last" [ngClass]="{ 'fila-con-borde': !last }">
          <ion-col size="6">{{ usuario.pnombre }} {{usuario.appaterno}}</ion-col>
          <ion-col size="2.7" class="ion-text-center">
            <ion-button class="editar" fill="clear" size="small" (click)="onEditar(usuario)">Editar</ion-button>
          </ion-col>
          <ion-col size="2.7" class="ion-text-center">
            <ion-button class="borrar" fill="clear" size="small" (click)="onEliminar(usuario)">Borrar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="ver-mas" *ngIf="usuarios.length > 3">
        <ion-button fill="clear" size="small" (click)="toggleVerMas()">
          {{ mostrarTodos ? 'Ver menos' : 'Ver más' }}
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="onCrear()" id="crear">Crear {{rol}}</ion-button>
</div>