.container {
    display: flex;
    flex-direction: column;
    width: 100%;

    ion-card {
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 20px;
        box-shadow: none;
        background: #FFFFFF;

        ion-card-header {
            display: flex;
            justify-content: center;
            height: 30px;
            border-bottom: 1px solid #D9D9D9;
        }

        ion-row {
            display: flex;
            align-items: center;
            height: 35px;
            border-bottom: 1px solid #D9D9D9;

            .borrar {
                color: #EA3A84;
            }

            .editar {
                color: #00B6F1;
            }
        }

        .ver-mas {
            display: flex;
            justify-content: center;
            height: 15px;
            align-items: center;

            ion-button {
                color: #EA3A84;
            }
        }
    }

    #crear {
        justify-self: center;
        margin-left: 30px;
        margin-right: 30px;
        --background: #00B6F1;

    }
}

.crear-background {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: #11111195;
    z-index: 99;
}

.editar-background {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: #11111195;
    z-index: 99;
}