ion-content {
    --background: #D9D9D9;

    .loading {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        height: 50px;
        width: 50px;
        color: #00B6F1;
    }

    .section-title {
        text-align: center;
    }

    .contCrear {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 150px;
        background: linear-gradient(to top, #D9D9D9 75%, #D9D9D900);
        position: fixed;
        bottom: 0px;

        button {
            margin-top: 25px;
            background-color: #00B6F1;
            color: white;
            height: 40px;
            width: 150px;
            border-radius: 10px;
            font-weight: bold;
            font-size: medium;
        }
    }
}