<ion-content [fullscreen]="true">
  <app-banner-estadistica [fecha]="(partido!.info_global.fecha | date:'dd, MMM, yyyy') || ''"
    [hora]="partido!.info_global.hora.substring(0, 5) || ''" [equipoVisitante]="partido!.info_global.contrincante"
    (otabChanged)="selectedTab($event)" (categorySelected)="selectedCuarto($event)" [oTabs]="tabs"
    [activeOTab]="activeTab"></app-banner-estadistica>

  <div [hidden]="activeTab!=='Plantel'">
    <app-table-seleccionar-plantel [partido]="this.partido!" (entrenadoresActualizados)="actualizarEntrenadores($event)"
      (jugadoresActualizados)="actualizarJugadores($event)"></app-table-seleccionar-plantel>
  </div>

  <div [hidden]="activeTab!=='Estadistica'">
    <app-table-jugadores-estadistica [jugadores]="this.jugadores"></app-table-jugadores-estadistica>

  </div>

</ion-content>