<ion-content [fullscreen]="true">
  <app-banner-estadistica [fecha]="(partido!.info_global.fecha | date:'dd, MMM, yyyy') || ''"
    [hora]="partido!.info_global.hora.substring(0, 5) || ''" [equipoVisitante]="partido!.info_global.contrincante"
    (otabChanged)="selectedTab($event)" (categorySelected)="selectedCuarto($event)" [oTabs]="tabs"
    [activeOTab]="activeTab"></app-banner-estadistica>

  <div [hidden]="activeTab!=='Plantel'">
    <app-table-seleccionar-plantel [partido]="this.partido!" (entrenadoresActualizados)="actualizarEntrenadores($event)"
      (jugadoresActualizados)="actualizarJugadores($event)"></app-table-seleccionar-plantel>
  </div>

  <div [hidden]="activeTab!=='Estadistica'">
    <app-table-jugadores-estadistica (enviarJugador)="estadisticaJugador($event)"
      [jugadores]="this.jugadores"></app-table-jugadores-estadistica>

    <div *ngIf="agregarEst==true">
      <app-card-crearestadistica [jugador]="this.jugadorEstadistica" (enviarAsistencia)="asistencias()"
        (enviarFaltas)="faltas()" (enviarBloqueos)="bloqueos()" (enviarRobos)="robos()"
        (enviarLanzamiento)="lanzamientos($event)" (enviarRebote)="rebotes($event)"
        (cerrar)="cerrarEstadistica()"></app-card-crearestadistica>
    </div>

    <div *ngIf="coordenadas">
      <app-tabla-tiro-estadistica (lanzarConfirmado)="lanzarConfirmado($event)"
        (cancelarLanzamiento)="cancelarLanzamiento()"></app-tabla-tiro-estadistica>
    </div>
  </div>

  <button (click)="guardar()">Guardar Estadistica</button>

</ion-content>