<div class="estadisticas-container">
  <div class="estadisticas-header">Estadísticas</div>
  <div class="estadisticas-fila">
    <div class="etiqueta">Tiro de campo</div>
    <div class="valor">39/88 (45.3%)</div>
  </div>
  <div class="estadisticas-fila">
    <div class="etiqueta">Triples</div>
    <div class="valor">18/47 (38.3%)</div>
  </div>
  <div class="estadisticas-fila">
    <div class="etiqueta">Tiros libres</div>
    <div class="valor">26/31 (87.0%)</div>
  </div>
  <div class="ver-mas" (click)="emitirVerMas()">Ver más</div>
</div>