<div class="estadisticas-container">
  <div class="estadisticas-header">Estadísticas</div>
  <div class="estadisticas-fila">
    <div class="etiqueta">Tiro de campo</div>
    <div class="valor">{{tiroCampo}}</div>
  </div>
  <div class="estadisticas-fila">
    <div class="etiqueta">Triples</div>
    <div class="valor">{{this.triple}}</div>
  </div>
  <div class="estadisticas-fila">
    <div class="etiqueta">Tiros libres</div>
    <div class="valor">{{this.tiroLibre}}</div>
  </div>
  <div class="ver-mas" (click)="emitirVerMas()">Ver más</div>
</div>