<ion-content [fullscreen]="true">
  <app-banner-partido [fecha]="(partido!.info_global.fecha | date:'dd, MMM, yyyy') || ''"
    [hora]="partido!.info_global.hora.substring(0, 5) || ''" [equipoVisitante]="partido!.info_global.contrincante"
    (tabChanged)="selectedTab($event)"></app-banner-partido>

  <div *ngIf="activeTab=='Resumen'">
    <app-marcador></app-marcador>
    <app-resumen-estadistica (verMasClicked)="onVerMas()"></app-resumen-estadistica>
    <app-tabla-tiro></app-tabla-tiro>
  </div>

  <div *ngIf="activeTab=='Alineación'">
    <app-est-plantel [jugadores]="listaJugadores" (jugadorSeleccionado)="verDetalle($event)">></app-est-plantel>
  </div>

  <div *ngIf="activeTab=='Estadísticas'">
    <app-est-partido [estadisticas]="datosEstadisticas"></app-est-partido>
  </div>

  <div *ngIf="jugadorSeleccionado==true">
    <app-jugador-partido [jugador]="jugadorDetalle" (cerrarModal)="onCerrarModal()"
      (detalleClick)="onDetalleClick()"></app-jugador-partido>
  </div>
</ion-content>