<ion-content [fullscreen]="true">
  <app-banner-partido [fecha]="(partido!.info_global.fecha | date:'dd, MMM, yyyy') || ''"
    [hora]="partido!.info_global.hora.substring(0, 5) || ''" [equipoVisitante]="partido!.info_global.contrincante"
    (tabChanged)="selectedTab($event)"></app-banner-partido>

  <div *ngIf="activeTab == 'Resumen' && partido && estadisticas">
    <app-marcador [partido]="this.partido!"></app-marcador>
    <app-resumen-estadistica [partido]="this.partido!" (verMasClicked)="onVerMas()"></app-resumen-estadistica>
    <app-tabla-tiro [lanzamientos]="getLanzamientos(this.partido!)"></app-tabla-tiro>
  </div>

  <div *ngIf="activeTab=='Alineación'">
    <app-est-plantel [jugadores]="getListaJugadores(this.partido!)"
      (jugadorSeleccionado)="verDetalle($event)">></app-est-plantel>
  </div>

  <div *ngIf="activeTab=='Estadísticas'">
    <app-est-partido [estadisticas]="calcularTotales()"></app-est-partido>
  </div>

  <div *ngIf="jugadorSeleccionado==true">
    <app-jugador-partido [tirosJugador]="tirosJugador(this.jugadorDetalle!.rut)" [jugador]="jugadorDetalle"
      (cerrarModal)="onCerrarModal()" (detalleClick)="onDetalleClick()"></app-jugador-partido>
  </div>
</ion-content>