.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  ion-card {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: none;
    background: #ffffff;

    ion-card-header {
      display: flex;
      justify-content: center;
      height: 30px;
      border-bottom: 1px solid #d9d9d9;
    }

    ion-card-content {

      ion-row {
        display: flex;
        border-bottom: 1px solid #d9d9d9;
        justify-content: center;
        align-items: center;
      }

      ion-label {
        font-weight: bold;
        font-size: 14px;
        color: #333;
        display: block;
      }

      ion-input {
        --border-radius: 12px;
        --padding-start: 10px;
        --background: #f4f4f4;
        font-size: 14px;
      }
    }
  }

  .boton-cambiar-container {
    display: flex;
    justify-content: center;

    ion-button {
      --background: #ea3a84;
      color: white;
      font-weight: bold;
      border-radius: 12px;
      padding: 12px 24px;
      width: 80%;
      font-size: 16px;
    }
  }
}