<div class="container">

  <div class="banner">
    <div class="space">
      <div class="back" id="back" #back>
        <img src="../../../assets/icon/arrow_back.png" alt="">
      </div>
    </div>
    <div class="logo-container">
      <img src="../../../assets/logos/Warlocks Logotipo 02.png" alt="Warlocks Logo">
    </div>
    <div class="space">
      <div class="conf">
        <img src="../../../assets/icon/settings.png" alt="">
      </div>
    </div>
  </div>

  <div class="tabs-selection">
    <div *ngFor="let tab of tabs" (click)="selectTab(tab)" [class.active-tab]="activeTab === tab" class="tab">
      {{ tab }}
    </div>
  </div>

  <div class="orange-tabs" id="cat2" #cat2>
    <div *ngFor="let oTab of orangeTabs" (click)="selectOrangeTab(oTab)" [class.selected]="activeOrangeTab === oTab"
      class="orange-tab">
      {{ oTab }}
    </div>
  </div>

  <div class="categories-bar">
    <div *ngFor="let cat of categories" (click)="selectCategory(cat)" [class.selected-category]="activeCategory === cat"
      class="category">
      {{ cat }}
    </div>
  </div>

</div>