<div class="container">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crear {{rol}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form #form="ngForm" (ngSubmit)="guardar(form)">

        <ion-item>
          <ion-label>Primer Nombre</ion-label>
          <ion-input [(ngModel)]="usuario.pnombre" name="nombre" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Segundo Nombre</ion-label>
          <ion-input [(ngModel)]="usuario.snombre" name="segundoNombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Primer Apellido</ion-label>
          <ion-input [(ngModel)]="usuario.appaterno" name="primerApellido" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Segundo Apellido</ion-label>
          <ion-input [(ngModel)]="usuario.apmaterno" name="segundoApellido"></ion-input>
        </ion-item>

        <ion-item class="rut">
          <ion-label>RUT</ion-label>
          <ion-input [(ngModel)]="usuario.rut" name="rut" required></ion-input>
          <ion-label>DV RUT</ion-label>
          <ion-input [(ngModel)]="usuario.dv_rut" class="dv_rut" name="dv_rut" required></ion-input>
        </ion-item>

        <div *ngIf="rol === 'jugador'">
          <ion-item>
            <ion-label>Posición</ion-label>
            <ion-select [(ngModel)]="usuario.posicion" name="posicion" interface="popover" required>
              <ion-select-option value="Base">Base</ion-select-option>
              <ion-select-option value="Escolta">Escolta</ion-select-option>
              <ion-select-option value="Alero">Alero</ion-select-option>
              <ion-select-option value="Ala-Pívot">Ala-Pívot</ion-select-option>
              <ion-select-option value="Pívot">Pívot</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Categoría</ion-label>
            <ion-select [(ngModel)]="usuario.categoria" name="categoria" interface="popover" required>
              <ion-select-option value="U11">U11</ion-select-option>
              <ion-select-option value="U13">U13</ion-select-option>
              <ion-select-option value="U15">U15</ion-select-option>
              <ion-select-option value="U18">U18</ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <div class="form-buttons">
          <ion-button expand="block" fill="clear" (click)="cerrar()">Cancelar</ion-button>
          <ion-button expand="block" type="submit" [disabled]="form.invalid">Crear {{rol}}</ion-button>
        </div>

      </form>
    </ion-card-content>
  </ion-card>
</div>