.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: #11111195;

  ion-card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 450px;
    margin: 20px auto;
    border-radius: 12px;
    overflow: hidden;
    background-color: #ffffff;

    ion-card-header {
      background-color: #00B6F1;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;

      ion-card-title {
        font-size: 18px;
        font-weight: 600;
        color: #ffffff;
      }
    }

    ion-card-content {
      padding: 0;
      background-color: #ffffff;

      form {
        background-color: #ffffff;
        border-radius: 10px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        ion-item {
          display: flex;
          --background: transparent;
          --inner-padding-end: 0;
          --padding-start: 0;
          font-size: 14px;
          border-radius: 8px;

          ion-label {
            font-weight: bold;
            font-size: 14px;
            color: #333;
            display: block;
            margin-bottom: 4px;
          }

          ion-select {
            background-color: #e0e0e0;
            border-radius: 5px;
            text-align: center;
            width: 320px;
          }

          ion-input {
            background-color: #e0e0e0;
            border-radius: 5px;
            text-align: center;
            width: 210px;
            ;
          }
        }

        .rut {
          display: flex;

          ion-label {
            margin: 10px;
          }

          .dv_rut {
            width: 100px;
          }
        }
      }

      .form-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        padding: 0 16px;

        ion-button {
          font-size: 14px;
          height: 40px;
          border-radius: 0 0 20px 20px;
          flex: 1;

          &:first-child {
            color: #333;
            --background: #ffffff;
            margin-right: 5px;
          }

          &:last-child {
            color: #00B6F1;
            --background: #ffffff;
            margin-left: 5px;
          }
        }
      }
    }
  }
}